@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
@import "GraphNight.css";
@import "navBar.css";
@import "filtre.css";
@import "meteo.css";
* {
  margin: 0;
}
html {
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

html,
body {
  width: 100%;
  height: 100%;
  transition: 2s;
  font-family: "Inter", sans-serif;
}

.show {
  display: flex;
}

/*****************************
 NAVBAR
***********************/

@media screen and (min-width: 900px) {
}

/***************
Main 
****************/
#main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding-left: 16px;
  padding-top: 16px;
  align-items: stretch;
  align-content: stretch;
}

#contener {
  position: relative;
  height: 100%;
  width: 100%;
  bottom: 0;
  margin: 0;
}

#filtre {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: var(--couleurBorder) solid 1px;
  z-index: 1;
  transition: 0.5s;
  overflow-x: hidden;
}

#courbes,
.Little_case,
#gauge,
#world,
#Alerte,
#section,
#date,
iframe {
  border-width: 1px;
  border-radius: 16px;
  border: var(--couleurBorder) solid 1px;
}

#courbes {
  width: max(60%, min(60%, 100%));
  height: auto;
  padding: 8px;
}
/****************
Diagramme
*****************/
#gauge {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#world {
  width: max(40%, min(47%, 100%));
  max-height: 51%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px; /* arrondi sur le container */
  overflow: hidden; /* clip tout ce qui dépasse */
}
#truc {
  display: flex;
  flex-direction: column;

  gap: 8px;
}
@media screen and (min-width: 900px) {
  #courbes {
    flex: 1;
    min-width: 60%;
    height: auto;
  }
  #section {
    flex: 1;
    min-width: 30%;
  }

  #gauge {
    width: max(15%, min(18%, 100%));
    max-height: 44%;
  }
  #world {
    width: max(45%, min(49%, 100%));
    max-height: 51%;
  }

  #truc {
    width: max(13%, min(13%, 100%));
    max-height: 51%;
  }
  #Alerte {
    flex: 1;
    overflow-y: auto;
    max-height: 51%;
  }
}

@media screen and (max-width: 899px) {
  #courbes {
    width: max(60%, min(100%, 100%));
  }

  #gauge {
    width: max(15%, min(50%, 100%));
    height: 52%;
  }
  #world {
    width: max(45%, min(100%, 100%));
    height: 52%;
    order: 98;
  }

  #truc {
    width: max(13%, min(50%, 100%));
    height: 52%;
  }
  #Alerte {
    flex: 1;
    overflow-y: auto;
    max-height: 51%;
  }
}

/*************************
Notifications
*************************/

#caseNotifications {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* Pour centrer horizontalement */
}

/*************************
Cercle loading
*************************/

#loading-circle {
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid;
  position: relative;
  animation: spin 1s infinite linear;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
#Bouton_pdf,
#RechercheUpdate {
  width: 100%;
  max-width: 220px;
  background-color: var(--couleurPrimary);
  color: #fff;
  border: none;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
}
/***************
FILTRE 
****************/
#filtre {
  font-size: 13px;
}

#filtre div,
#RechercheUpdate {
  margin-left: 3%;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-content: space-between;
  row-gap: 10px;
}

#Selection {
  border-radius: 10px;
  padding: 3%;
  background-color: #36404a;
}

/*************************
Pour la météo et petite case
*************************/
.row {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  width: 100%;
}

#choix_region {
  width: 100%;
}

.horizontal-line {
  padding: 1% 0;
  border: none;
  /* Supprime la bordure par défaut de <hr> */
  width: 95%;
  /* Vous pouvez ajuster la largeur de la ligne selon vos besoins */
  margin: 1px auto;
  /* Vous pouvez ajuster la marge autour de la ligne selon vos besoins */
}

#text_station,
#text_Alerte,
#text_Valeur {
  font-size: 24px;
  margin: 0;
  display: inline;
}

#nombre_TEXT_station,
#nombre_TEXT_Alerte,
#nombre_TEXT_Valeur {
  font-size: 24px;
  font-weight: bold;
  display: inline;
}

/************************
Calendrier 
************************/

#calendar td {
  text-align: center;
}

.Little_case {
  padding: 12px 16px;
  font-size: 12px;
  font-weight: 300;
}

#nombre_TEXT_Alerte,
#text_Alerte {
  color: rgb(230, 67, 67);
  font-weight: bold;
}
#nombre_TEXT_station,
#text_station {
  color: #21c7e1;
  font-weight: bold;
}

#text_Valeur {
  font-weight: bold;
}

.notification {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 8px;
  font-size: 14px;
  justify-content: space-between;
  border-radius: 12px;
}
html,
body {
  background-color: var(--colorfond);
  color: var(--couleurText);
}

#courbes,
.Little_case,
#meteo_vent,
#gauge,
#word,
#Alerte,
#section,
#calendar {
  background-color: var(--colorDessus);
}

.chart {
  color: black;
}

/******************
Cercle loading
*******************/

#loading-circle {
  border-color: #beb69d;
}

/*Notification Couleur */

.NO {
  background-color: rgba(24, 121, 244, 0.1);
  border: 1px solid #1879f4;
}

.NO2 {
  background-color: rgba(120, 200, 255, 0.1);
  border: 1px solid #78c8ff;
}

.O3 {
  background-color: rgba(90, 243, 170, 0.1);
  border: 1px solid #5af3aa;
}

.NOXasNO2 {
  background-color: rgba(0, 170, 160, 0.1);
  border: 1px solid #00aaa0;
}

.PM10 {
  background-color: rgba(255, 72, 118, 0.1);
  border: 1px solid #ff4876;
}

.PM25 {
  background-color: rgba(255, 169, 106, 0.1);
  border: 1px solid #ffa96a;
}

.SO2 {
  background-color: rgba(255, 237, 143, 0.1);
  border: 1px solid #ffed8f;
}

.C6H6 {
  background-color: rgba(200, 24, 244, 0.1);
  border: 1px solid #c818f4;
}

.CO {
  background-color: rgba(24, 244, 234, 0.1);
  border: 1px solid #18f4ea;
}
