:root {
  --colorfond: #0d1117; /*avant #2f3740*/
  --colorDessus: #161b22; /*avant #36404a*/
  --couleurText: #c1c9d0;
  --couleurSubElement: #374151;
  --couleurPrimary: #2664eb;
  --couleurBorder: #30363d;
}
