:root {
  --colorfond: #111826; /*avant #2f3740*/
  --colorDessus: #1f2a38; /*avant #36404a*/
  --couleurText: #fff;
  --couleurSubElement: #374151;
  --couleurPrimary: #2664eb;
  --couleurBorder: #30363d;
}
